<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col s12">
	<h5><%= "您尚未提交报名信息，请在“前沿报名”进行提交。"  if @openid_results.count < 1%></h5>
	<%  @openid_results.each do |result| %>
	    <% entry = Entry.new(result: result).values %>
      <% names = %w(姓名 序号 确认码 提交时间) %>
      <% %w(广西区内报名 广西区外报名 作品评审费 光盘预订).each {|name| names << name if entry[name].to_s.match(/\d/) } %>
	    <div class="card">
		<div class="card-content">
		    <table class="striped">
			<thead>
			    <tr>
				<th class="card-title"><%= result.form_name %></th>
			    </tr>
			</thead>

			<tbody>
        <% names.each do |name| %>
			    <tr>
				<td>
				    <%= tag.b("#{name}:") %>
            <%= compact_empty(entry[name])%>
				</td>
			    </tr>
          <% end %>
			</tbody>
		    </table>

		    <div class="card-action">
			<%= link_to '查看详情',{ controller: "results",action: 'show',id: result,  subject: result.class.name}, class: "waves-effect waves-light btn blue darken-1 white-text" %>
		    </div>

		</div>
	    </div>

	<% end %>
	<%= link_to '返回',  root_path, class: "waves-effect waves-light btn blue darken-1 white-text" %>
    </div>
</div>

<%#= link_to 'New Result', new_result_path %>
