<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<%= link_to '2017小学英语', {controller: 'results', subject: 'PrimaryEnglishResult'}, class: "waves-effect waves-light btn blue darken-1 white-text" %>

<%= link_to '2017小学语文', {controller: 'results', subject: 'PrimaryChineseResult'}, class: "waves-effect waves-light btn blue darken-1 white-text" %>

<%= link_to '2017小学数学', {controller: 'results', subject: 'PrimaryMathResult'}, class: "waves-effect waves-light btn blue darken-1 white-text" %>

<%= link_to '2017小学英语参赛作品提交', {controller: 'results', subject: 'PrimaryEnglishCompetitionResult'}, class: "waves-effect waves-light btn blue darken-1 white-text" %>

<br>

<%#= link_to 'New Page', new_page_path %>
